# Vivado generated folders (matches any project)
**/*.cache/
**/*.hw/
**/*.ip_user_files/
**/*.runs/
**/*.sim/

# Vivado / Xilinx transient files
**/.Xil/
**/*.jou
**/*.log
**/*.pb
**/*.wdb
**/*.wdf
**/*.wpc
**/*.str

# Simulation/generated leftovers
**/xsim.dir/
**/webtalk/
**/*.backup
**/*~