# Vivado generated folders
comparator_4bit/comparator_4bit.cache/
comparator_4bit/comparator_4bit.hw/
comparator_4bit/comparator_4bit.ip_user_files/
comparator_4bit/comparator_4bit.runs/
comparator_4bit/comparator_4bit.sim/

# Vivado / Xilinx transient files
**/.Xil/
**/*.jou
**/*.log
**/*.pb
**/*.wdb
**/*.wdf
**/*.wpc
**/*.str

# Simulation/generated leftovers
**/xsim.dir/
**/webtalk/
**/*.backup
**/*~